
<!DOCTYPE html>
<html>
<head>
  <link href="<%= url("/css/bootstrap.css")%>" rel="stylesheet" type="text/css" />
  <link href="<%= url("/css/style.css")%>" rel="stylesheet" type="text/css" />

  <meta charset="utf-8">
  <title>ROIne digitale</title>
</head>
<body>
<main class="container-monsite">

  <article class="sunset">
    <img src="heroincc.png" alt="heroïne" width="150"/>
    <h1>ROI'NE DIGITALE</h1>
    <h2> Bâtisseuse d'épopées numériques</h2>
    <button type="button" class="btn btn-warning">ME CONTACTER</button>
  </article>

  <article>
    <h3>Qui suis je ?</h3>
    <p>je suis anne so et je suis une super héros du marketing</p>
  </article>

<!--  <article class="power">

     <section class="power">
    <h3 >Mes super pouvoirs</h3>
      <article class="competences">
        <img src="noun_466221.png" alt="loupe" width="100"/>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </article>

      <article class="competences">
        <img src="noun_30946_cc.png"alt="hulk" width="100"/>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </article>

      <article class="competences">
        <img src="noun_466217.png"alt="contenant" width="100"/>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </article>
    </section>  -->



        <h3 >Mes super pouvoirs</h3>
<section class="container">
          <article class="row">
            <article class="col-md-4 col-xs-6">
            <img class="loupe"src="noun_466221.png" alt="loupe" width="100"/>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </article>

          <article class="row">
              <article class="col-md-4 col-xs-6">
            <img src="noun_30946_cc.png"alt="hulk" width="100"/>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </article>

          <article class="row">
              <article class="col-md-4 col-xs-6">
            <img src="noun_466217.png"alt="contenant" width="100"/>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </article>
        </section>
</main>
  </body>
</html>
